@using Microsoft.AspNetCore.Components

<div class="image-block-viewer">
    @if (!string.IsNullOrEmpty(Block.Title))
    {
        <h4 class="block-title">@Block.Title</h4>
    }
    
    @if (!string.IsNullOrEmpty(Block.ImageUrl))
    {
        <div class="text-center">
            <img src="@Block.ImageUrl" alt="@Block.Title" class="img-fluid rounded" />
        </div>
    }
    
    @if (!string.IsNullOrEmpty(Block.Text))
    {
        <div class="block-description mt-2">
            @Block.Text
        </div>
    }
</div>

@code {
    [Parameter]
    public CourBuilder.CoursBlock Block { get; set; } = default!;
    
    [Parameter]
    public bool IsReadOnly { get; set; } = true;
}