@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Une erreur non gérée s'est produite.
    <a href="." class="reload">Acutaliser</a>
    <span class="dismiss">🗙</span>
</div>


