@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor

<PageTitle>Données personnelles</PageTitle>

<StatusMessage />
<h3>Données personnelles</h3>

<div class="row">
    <div class="col-md-6">
        <p>Votre compte contient des données personnelles que vous nous avez fournies. Cette page vous permet de les télécharger ou de les supprimer.</p>
        <p>
            <strong>La suppression de ces données supprimera définitivement votre compte et ne pourra pas être récupérée.</strong>
        </p>
        <form action="Account/Manage/DownloadPersonalData" method="post">
            <AntiforgeryToken />
            <button class="btn m-1" type="submit">Télécharger</button>
        </form>
        <p>
            <a href="Account/Manage/DeletePersonalData" class="btn m-1">Supprimer</a>
        </p>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
