@inherits LayoutComponentBase
@layout Mooc.Components.Layout.MainLayout

<h1>Gérez votre compte</h1>

<div>
    <h2>Modifiez les paramètres de votre compte</h2>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <ManageNavMenu />
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </div>
</div>
