<!DOCTYPE html>
<html lang="fr-fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Plateforme d'apprentissage en ligne MOOC" />
    <meta name="theme-color" content="#320a46" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" integrity="sha384-6/vz71J/hiZ1Z/scXUq4npyQCS5R5cFsT9ML0viIs9UN3Ujn5uJC/I++us0O3E1g" crossorigin="anonymous" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Mooc.styles.css"]" />
    <link rel="icon" type="image/png" href="27.png" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js" defer></script>
    <script src="@Assets["lib/bootstrap/dist/js/bootstrap.bundle.min.js"]" defer></script>
</body>

</html>
