@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Confirmation du mot de passe oublié</PageTitle>

<h1>Confirmation du mot de passe oublié</h1>
<p role="alert">
    Veuillez vérifier votre e-mail pour réinitialiser votre mot de passe.
</p>
