@page "/Account/InvalidPasswordReset"

<PageTitle>Réinitialisation du mot de passe invalide</PageTitle>

<h1>Réinitialisation du mot de passe invalide</h1>
<p role="alert">
    Le lien de réinitialisation du mot de passe n'est pas valide.
</p>
