@page "/Account/Lockout"

<PageTitle>Accès Bloquée</PageTitle>

<header>
    <h1 class="text-danger">Bloqué</h1>
    <p class="text-danger" role="alert">Ce compte a été verrouillé, veuillez réessayer plus tard.</p>
</header>
