@page "/Account/ResetPasswordConfirmation"
<PageTitle>Réinitialiser la confirmation du mot de passe</PageTitle>

<h1>Réinitialiser la confirmation du mot de passe</h1>
<p role="alert">
    Votre mot de passe a été réinitialisé. Veuillez <a href="Account/Login">cliquez ici pour vous connecter</a>.
</p>
